<h1><%= @article.title %></h1>
  <%= link_to "Tags", "#"%>
<section class="show-tag-side">

  <table>
  <% @article.tags.each do |tag| %>
  <tr>
  <td>
    <button class="button"><%= link_to tag.name, tag_path(tag), remote: true%><!--/button-->
    <!--button class="button"--><%= link_to image_tag("/assets/cross.png", class: "img"), tagging_path(:article_id => @article, :tag_id => tag), remote: true, method: :delete, class: "tag" %></button>
  <br>
  </td>
  </tr>
  <% end %>
</table>
<div id="task-form" style="display:none;"></div>
</section>

<%= form_for(@article, remote: true) do |f| %>
<p>
	<%= f.label :add_tag %><br/>
	<%= f.text_field :new_tag_list %>
</p>

<p>
<%= f.submit "Add tag"%>
</p>

<% end %>


<p><%= @article.body %></p>
<% if logged_in? %>
<button class="button"><%= link_to "<< Back to Articles List", articles_path %></button>
<button class="button"><%= link_to "delete", article_path(@article), method: :delete %></button>
<button class="button"><%= link_to "edit", edit_article_path(@article)%></button>
<br>
<% end %>