<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @author.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @author.email %>
</p>

<h3>Articles</h3>
<%= render partial: 'authors/article', collection: @author.articles %>

<button class="button"><%= link_to "Create a New Article", new_article_path, class: "new_article" %></button>
<button class="button"><%= link_to " << Back to articles list", articles_path %></button>
<br>
