<!DOCTYPE html>
<html>
<head>
  <title>Blogger</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p class="flash">
    <%= flash.notice %>
  </p>
  <h6 class="header" style="text-align:right">
  <% if logged_in? %>
    <button class="button"><%= link_to current_user.username, author_path(current_user.id) %></button>
    <button class="button"><%= link_to " (logout)", logout_path %></button>
  <% else %>
    <button class="button"><%= link_to "(login)", login_path %></button>
  <% end %>
  </h6>
  <div id="container">
    <div id="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
